{% extends 'layouts/page.njk' %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% block beforeContent %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "LAPs home",
            href: "/laps/home-page"
          },
          {
            text: "Confirm bank details"
          }
        ]
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{
        dwpLanguageToggle({
          selectedLang: "en",
          href: {
            en: "/patterns/toggle-to-welsh/examples/en",
            cy: "/patterns/toggle-to-welsh/examples/cy"
          }
        })
      }}
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['error'] == 'true' %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Confirm these details are correct",
          href: "#confirm-bank-details"
        }
      ]
    }) }}
    {% endif %}

    <div class="govuk-form-group {% if data['error'] == 'true' %}govuk-form-group--error{% endif %}">
      <form method="post" action="/laps/confirm-bank-details">
        <fieldset class="govuk-fieldset" aria-describedby="confirm-bank-details">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

            <span class="govuk-caption-xl">Glamshire County Council</span>
            <h1 class="govuk-fieldset__heading">
              Confirm your local authority's bank details
            </h1>
          </legend>

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Name of account"
                },
                value: {
                  text: "Glamshire County Council"
                }
              },
              {
                key: {
                  text: "Sort code"
                },
                value: {
                  text: "12 34 56"
                }
              },
              {
                key: {
                  text: "Account number"
                },
                value: {
                  text: "78910112"
                }
              }
            ]
          }) }}
      
          <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="confirm-bank-details" name="confirm-bank-details" type="checkbox" value="confirmed">
              <label class="govuk-label govuk-checkboxes__label" for="confirm-bank-details">
                I confirm these details are correct
              </label>
            </div>
          </div>

        </fieldset>

        {{ govukDetails({
          summaryText: "These details are incorrect",
          html: "<p class='govuk-body'>To update your local authority's bank details, contact customer services.</p>
                  <p class='govuk-body'>We'll let you know once the update is complete, and you'll be able to confirm the changes in your account.</p>
                  <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Email</span><br>
                  <a href='mailto:EPRCustomerService@defra.gov.uk' class='govuk-link'>EPRCustomerService@defra.gov.uk</a><br>
                  We aim to respond within 20 working days
                  </p>
                  <p class='govuk-body'><span class='govuk-!-font-weight-bold'>Telephone</span><br>
                  0300 060 0002<br>
                  Monday to Friday 8am to 6pm (closed on weekends and bank holidays)</p>"
        }) }}

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
